In [41]:

import pandas as pd
import random
mydf = pd.DataFrame({"x":[0]*2})

def addrand(x):
    return(x+random.normalvariate(0,1))

mysimulation = []
mycontrol = []
for i in range(0,5):
    mydf["x2"] = mydf["x"].apply(addrand)
    mydf["i"] = i
    mycontrol.append(i)
    mysimulation.append(mydf)
    
pd.concat(mysimulation)

   x        x2  i
0  0 -0.556527  4
1  0  0.152334  4
0  0 -0.556527  4
1  0  0.152334  4
0  0 -0.556527  4
1  0  0.152334  4
0  0 -0.556527  4
1  0  0.152334  4
0  0 -0.556527  4
1  0  0.152334  4